// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "NppPluginDemo.h" // Icon resources

/////////////////////////////////////////////////////////////////////////////
// Hungarian (Hungary) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_HUN)
LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
#pragma code_page(1250)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,4,2,1
 PRODUCTVERSION 0,4,2,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Tarhely.Eu Kft."
            VALUE "FileDescription", "OpenAI plugin for Notepad++"
            VALUE "FileVersion", "0.4.2.1"
            VALUE "InternalName", "NppOpenAI.dll"
            VALUE "LegalCopyright", "Copyright 2025 by Richard Stockinger"
            VALUE "OriginalFilename", "NppOpenAI.dll"
            VALUE "ProductName", "NppOpenAI"
            VALUE "ProductVersion", "0.4.2.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Hungarian (Hungary) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

// Custom objects (toolbar icons)
IDB_PLUGINNPPOPENAI_TOOLBAR_CHAT    BITMAP  "Resources/toolbar_icon_chat_16x16.bmp"
IDI_PLUGINNPPOPENAI_TOOLBAR_CHAT    ICON    "Resources/toolbar_icon_chat_32x32.ico"
IDI_PLUGINNPPOPENAI_TOOLBAR_CHAT_DM ICON    "Resources/toolbar_icon_chat_32x32_dm.ico"
// END: Custom objects (toolbar icons)
